backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/.venv/
backend/venv/
backend/backend.log
frontend/node_modules/
frontend/dist/
frontend/frontend.log
.DS_Store
*.pyc
start_services.sh
stop_services.sh
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
